<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- In-app self-update: install the APK the updater downloaded. -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <activity
            android:name="io.github.aedev.flow.discord.DiscordLoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Flow" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.updater"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/updater_file_paths" />
        </provider>
    </application>
</manifest>
